// Tipografia
$fuente_principal: 'Roboto Condensed', sans-serif;

// Colores
$gris: #575757;
$blue: #294d8f;
$negro: #000000;
$blanco: #FFFFFF;
$graybg:#d1cdcd;
$brain:#b34c66;
$gris-d-m: #e1e1e1;
$grisOscuro-d-m: #333333;
$graybg-d-m: #615d5d;

// Tamaño para los MEDIA QUERIES
$telefono: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1200px;